{
  "extends": "airbnb-base",
  "parserOptions": {
    ecmaVersion: 6,
    sourceType: "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "func-names": 0,
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
    "indent": [2, 4, { "SwitchCase": 1 }],
    "no-plusplus": 0,
    "no-use-before-define": [2, "nofunc"]
  }
}
